.header-container {
    background: url("/public/Dept-intern_assignment/Images/header_img.jpeg") center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8rem;
    object-fit: contain;
}

.header-container > h1 {
    color: black;
    font-size: 24vw;
    font-weight: 400;
}

.header-btns {
    margin-top: 32px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 425px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 0 8rem; */
        align-items: center;
        object-fit: contain;
    }

    .header-container > h1 {
        font-size: 92px;
    }

    .header-container > p {
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
